In [25]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/wjones/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [26]:
path = "clean_IMDBdataset.csv"
df = pd.read_csv(path, sep=",")

In [27]:
df

                                                  Phrase Sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [28]:
df['Sentiment'] = df['Sentiment'].apply(lambda x: 1 if x == 'positive' else 0)

In [29]:
df

                                                  Phrase  Sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production the filming tech...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically theres a family where a little boy j...          0
4      petter matteis love in the time of money is a ...          1
...                                                  ...        ...
49995  i thought this movie did a down right good job...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  i am a catholic taught in parochial elementary...          0
49998  im going to have to disagree with the previous...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test = train_test_split(df['Phrase'], df['Sentiment'], test_size=0.2, random_state=30)
print("Train: " ,X_train.shape,Y_train.shape,"Test/Valid: ",(X_test.shape,Y_test.shape))

Train:  (40000,) (40000,) Test/Valid:  ((10000,), (10000,))

In [31]:
X_test,X_valid,Y_test, Y_valid = train_test_split(X_test,Y_test, test_size=0.5, random_state=30)
print("Test: " ,X_test.shape,Y_test.shape,"Valid: ",(X_valid.shape,Y_valid.shape))

Test:  (5000,) (5000,) Valid:  ((5000,), (5000,))

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
countvectorizer = CountVectorizer(analyzer= 'word', stop_words='english')
tfidfvectorizer = TfidfVectorizer(analyzer='word',stop_words= 'english')
tf_x_train = tfidfvectorizer.fit_transform(X_train)
tf_x_valid = tfidfvectorizer.transform(X_valid)

In [39]:
from sklearn.cluster import KMeans
kmeans = KMeans(init="k-means++", n_clusters=2,n_init=100, random_state=0)
kmeans.fit(tf_x_train)
preds = kmeans.predict(tf_x_valid)
from sklearn.metrics import classification_report
report=classification_report(Y_valid, preds,output_dict=True)

In [40]:
report

{'0': {'precision': 0.4425723111485538,
  'recall': 0.6278884462151394,
  'f1-score': 0.5191895898534014,
  'support': 2510},
 '1': {'precision': 0.35093815149409313,
  'recall': 0.20281124497991967,
  'f1-score': 0.2570628658691779,
  'support': 2490},
 'accuracy': 0.4162,
 'macro avg': {'precision': 0.39675523132132345,
  'recall': 0.4153498455975295,
  'f1-score': 0.38812622786128964,
  'support': 5000},
 'weighted avg': {'precision': 0.3969384996406324,
  'recall': 0.4162,
  'f1-score': 0.38865048130925806,
  'support': 5000}}